<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.copypay.repository.mapper.BasicInfoMapper">

    <select id="getContractByBusinessRegNumber" parameterType="string" resultType="com.copypay.dto.response.ContractResponse">
	<![CDATA[
		SELECT
			NO AS no,
			BUSINESS_REG_NUMBER AS businessRegNumber,
			MID AS mid,
			BUSINESS_NAME AS businessName,
			CONTRACT.EFFECTIVE_DATE AS effectiveDate,
			COMPLETION_DATE AS completionDate,
			CONTRACT_DATE AS contractDate,
			CEO_NAME AS ceoName,
			CEO_BIRTH AS ceoBirth,
			CEO_HP AS ceoHp,
			CEO_TEL AS ceoTel,
			CEO_EMAIL AS ceoEmail,
			CEO_FAX AS ceoFax,
			BUSINESS_POSTCODE AS businessPostcode,
			BUSINESS_ADDRESS_LINE1 AS businessAddressLine1,
			BUSINESS_ADDRESS_LINE2 AS businessAddressLine2,
			BUSINESS_TYPE AS businessType,
			FRANCHISE_CONTRACT_MANAGER_NAME AS franchiseContractManagerName,
			FRANCHISE_CONTRACT_MANAGER_TEL AS franchiseContractManagerTel,
			FRANCHISE_CONTRACT_MANAGER_HP AS franchiseContractManagerHp,
			FRANCHISE_CONTRACT_MANAGER_Email AS franchiseContractManagerEmail,
			APPLICATION_PATH AS applicationPath,
			CONTRACT_MANAGER AS contractManager,
			SALES_MANAGER AS salesManager
		FROM CONTRACT
		WHERE BUSINESS_REG_NUMBER = #{inputBusinessRegNumber}
        ]]>
	</select>

	<select id="getPaymentMethodByNo" parameterType="int" resultType="com.copypay.dto.response.PaymentMethodResponse">
		<![CDATA[
			SELECT
				IS_USED AS isUsed,
				AUTHENTICATION_TYPE AS authenticationType,
				SETTLEMENT_CYCLE AS settlementCycle,
				PAYMENT_METHOD.EFFECTIVE_DATE AS settlementCycleEffectiveDate,
				PURCHASE_METHOD AS purchaseMethod,
				PURCHASE_DATE AS purchaseDate,
				DEBITCARD_FEE_MANAGEMENT_USED AS debitcardFeeManagement,
				INSTALLMENT_MONTHS AS installmentMonths,
				IS_SMALL_MID_USED AS isSmallMidUsed,
				SMALL_MID_BALANCE_SETTLEMENT_REQ AS smallMidBalanceSettlementReq,
				DIFFERENCE_SETTLEMENT_CYCLE AS differenceSettlementCycle,
				MAJOR_DOMESTIC_UNUSABLE_CARD AS majorDomesticUnusableCard,
				MINOR_DOMESTIC_UNUSABLE_CARD AS minorDomesticUnusableCard,
				MINOR_FOREIGN_UNUSABLE_CARD AS minorForeignUnusableCard
			FROM PAYMENT_METHOD
			WHERE NO = #{no}
		]]>
	</select>

	<select id="getSettlementInfoByNo" parameterType="int" resultType="com.copypay.dto.response.SettlementInfoResponse">
		<![CDATA[
			SELECT
				PAYMENT_METHOD AS paymentMethod,
				FEE_PAYMENT_METHOD AS feePaymentMethod,
				FEE_SETTLEMENT_DATE AS feeSettlementDate,
				DEPOSIT_ACCOUNT_FORMAT AS depositAccountFormat,
				ACCOUNT_PARAMETER_NAME AS accountParameterName,
				TAX_INVOICE_CRITERIA AS taxInvoiceCriteria,
				TAX_INVOICE_VAT AS taxInvoiceVat,
				SETTLEMENT_INFO.TAX_INVOICE_EMAIL AS taxInvoiceEmail,
				PARTIAL_CANCELLATION_ALLOWED AS partialCancellationAllowed
			FROM SETTLEMENT_INFO
			WHERE NO = #{no}
		]]>
	</select>

	<select id="getBasicInfoList" parameterType="string" resultType="com.copypay.dto.response.BasicInfoResponse">
		<![CDATA[
		SELECT
			BUSINESS_REG_NUMBER AS businessRegNumber,
			BUSINESS_NAME AS businessName,
			MID AS mid,
			BUSINESS_TYPE AS businessType,
			PAYMENT_METHOD.IS_USED AS isUsed,
			IS_SMALL_MID_USED AS isSmallMidUsed
		FROM CONTRACT
		JOIN PAYMENT_METHOD ON CONTRACT.NO = PAYMENT_METHOD.NO
		WHERE #{inputMid} IS NULL OR MID LIKE CONCAT('%', #{inputMid}, '%')
        ]]>
	</select>

	<select id="countBasicInfoList" parameterType="map" resultType="int">
		<![CDATA[
		SELECT
			COUNT(*)
		FROM CONTRACT
		JOIN PAYMENT_METHOD ON CONTRACT.NO = PAYMENT_METHOD.NO
		WHERE #{mid} IS NULL OR MID LIKE CONCAT('%', #{mid}, '%')
        ]]>
	</select>

    <select id="getManagerId" resultType="string">
	<![CDATA[
		SELECT ID FROM USER
        ]]>
	</select>

	<select id="getMemoList" parameterType="string" resultType="com.copypay.dto.response.MemoResponse">
		<![CDATA[
			SELECT 	REG_DNT AS regDnt,
		 		   	ID AS id,
		 			CONTENT AS content
			FROM MEMO
			WHERE MID = #{inputMid}
			ORDER BY REG_DNT DESC
		]]>
	</select>

	<select id="getBasicInfo" parameterType="string" resultType="com.copypay.dto.response.BasicInfosResponse">
	<![CDATA[
		SELECT
			BUSINESS_REG_NUMBER AS businessRegNumber,
			MID AS mid,
			BUSINESS_NAME AS businessName,
			CONTRACT.EFFECTIVE_DATE AS effectiveDate,
			COMPLETION_DATE AS completionDate,
			CONTRACT_DATE AS contractDate,
			CEO_NAME AS ceoName,
			CEO_BIRTH AS ceoBirth,
			CEO_HP AS ceoHp,
			CEO_TEL AS ceoTel,
			CEO_EMAIL AS ceoEmail,
			CEO_FAX AS ceoFax,
			BUSINESS_POSTCODE AS businessPostcode,
			BUSINESS_ADDRESS_LINE1 AS businessAddressLine1,
			BUSINESS_ADDRESS_LINE2 AS businessAddressLine2,
			BUSINESS_TYPE AS businessType,
			FRANCHISE_CONTRACT_MANAGER_NAME AS franchiseContractManagerName,
			FRANCHISE_CONTRACT_MANAGER_TEL AS franchiseContractManagerTel,
			FRANCHISE_CONTRACT_MANAGER_HP AS franchiseContractManagerHp,
			FRANCHISE_CONTRACT_MANAGER_Email AS franchiseContractManagerEmail,
			APPLICATION_PATH AS applicationPath,
			CONTRACT_MANAGER AS contractManager,
			SALES_MANAGER AS salesManager,
			SETTLEMENT_INFO.PAYMENT_METHOD AS paymentMethod,
			FEE_PAYMENT_METHOD AS feePaymentMethod,
			FEE_SETTLEMENT_DATE AS feeSettlementDate,
			DEPOSIT_ACCOUNT_FORMAT AS depositAccountFormat,
			ACCOUNT_PARAMETER_NAME AS accountParameterName,
			TAX_INVOICE_CRITERIA AS taxInvoiceCriteria,
			TAX_INVOICE_VAT AS taxInvoiceVat,
			SETTLEMENT_INFO.TAX_INVOICE_EMAIL AS taxInvoiceEmail,
			PARTIAL_CANCELLATION_ALLOWED AS partialCancellationAllowed,
			IS_USED AS isUsed,
			AUTHENTICATION_TYPE AS authenticationType,
			SETTLEMENT_CYCLE AS settlementCycle,
			PAYMENT_METHOD.EFFECTIVE_DATE AS settlementCycleEffectiveDate,
			PURCHASE_METHOD AS purchaseMethod,
			PURCHASE_DATE AS purchaseDate,
			DEBITCARD_FEE_MANAGEMENT_USED AS debitcardFeeManagement,
			INSTALLMENT_MONTHS AS installmentMonths,
			IS_SMALL_MID_USED AS isSmallMidUsed,
			SMALL_MID_BALANCE_SETTLEMENT_REQ AS smallMidBalanceSettlementReq,
			DIFFERENCE_SETTLEMENT_CYCLE AS differenceSettlementCycle,
			MAJOR_DOMESTIC_UNUSABLE_CARD AS majorDomesticUnusableCard,
			MINOR_DOMESTIC_UNUSABLE_CARD AS minorDomesticUnusableCard,
			MINOR_FOREIGN_UNUSABLE_CARD AS minorForeignUnusableCard
		FROM CONTRACT JOIN SETTLEMENT_INFO ON CONTRACT.NO = SETTLEMENT_INFO.NO JOIN PAYMENT_METHOD ON CONTRACT.NO = PAYMENT_METHOD.NO
		WHERE BUSINESS_REG_NUMBER = #{inputBusinessRegNumber}
		]]>
	</select>

	<select id="getNoByBusinessRegNumber" parameterType="string" resultType="string">
		<![CDATA[
			SELECT NO
			FROM CONTRACT
			WHERE BUSINESS_REG_NUMBER = #{businessRegNumber}
		]]>
	</select>

	<select id="getBasicInfoViewList" parameterType="com.copypay.dto.request.BasicInfoViewRequest" resultType="com.copypay.dto.response.BasicInfoViewResponse">
		<![CDATA[
			SELECT 	c.BUSINESS_REG_NUMBER AS businessRegNumber,
		 		   	c.MID AS mid,
		 			c.BUSINESS_NAME AS businessName,
		 			c.CONTRACT_DATE AS contractDate,
					p.IS_USED AS isUsed,
					p.IS_SMALL_MID_USED AS IsSmallMidUsed
			FROM CONTRACT c JOIN PAYMENT_METHOD p ON c.NO = p.NO
			WHERE MID LIKE CONCAT('%', #{mid}, '%')
			AND (
			    (#{businessType} = '모두' OR BUSINESS_TYPE = #{businessType})
			)
			AND (
			    (#{isUsed} = '모두' OR IS_USED = #{isUsed})
			)
			AND (
				(#{dateOption} = false OR CONTRACT_DATE BETWEEN #{startDate} AND #{endDate})
			)
			AND (
				(#{isSmallMidUsed} = '모두' OR IS_SMALL_MID_USED = #{isSmallMidUsed})
			)
			LIMIT #{pageSize} OFFSET #{firstIndex}
		]]>
	</select>
	<select id="countBasicInfoViewList" parameterType="com.copypay.dto.request.BasicInfoViewRequest" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM CONTRACT c JOIN PAYMENT_METHOD p ON c.NO = p.NO
			WHERE MID LIKE CONCAT('%', #{mid}, '%')
			AND (
			    (#{businessType} = '모두' OR BUSINESS_TYPE = #{businessType})
			)
			AND (
			    (#{isUsed} = '모두' OR IS_USED = #{isUsed})
			)
			AND (
				(#{dateOption} = false OR CONTRACT_DATE BETWEEN #{startDate} AND #{endDate})
			)
			AND (
				(#{isSmallMidUsed} = '모두' OR IS_SMALL_MID_USED = #{isSmallMidUsed})
			)
		]]>
	</select>
	<update id="saveContract" parameterType="com.copypay.dto.request.ContractRequest">
		<![CDATA[
			UPDATE CONTRACT SET
				MID = #{mid},
				BUSINESS_NAME = #{businessName},
				CONTRACT_DATE = #{contractDate},
				CEO_NAME = #{ceoName},
				CEO_TEL = #{ceoTel},
				CEO_EMAIL = #{ceoEmail},
				CEO_FAX = #{ceoFax},
				BUSINESS_POSTCODE = #{businessPostcode},
				BUSINESS_ADDRESS_LINE1 = #{businessAddressLine1},
				BUSINESS_ADDRESS_LINE2 = #{businessAddressLine2},
				FRANCHISE_CONTRACT_MANAGER_NAME = #{franchiseContractManagerName},
				FRANCHISE_CONTRACT_MANAGER_TEL = #{franchiseContractManagerTel},
				FRANCHISE_CONTRACT_MANAGER_HP = #{franchiseContractManagerHp},
				FRANCHISE_CONTRACT_MANAGER_EMAIL = #{franchiseContractManagerEmail},
				APPLICATION_PATH = #{applicationPath},
				CONTRACT_MANAGER = #{contractManager},
				SALES_MANAGER = #{salesManager}
			WHERE BUSINESS_REG_NUMBER = #{businessRegNumber}
		]]>
	</update>

	<insert id="saveSettlementInfo" parameterType="com.copypay.dto.request.SettlementInfoRequest">
		<![CDATA[
			INSERT INTO SETTLEMENT_INFO (
				NO,
				PAYMENT_METHOD,
				FEE_PAYMENT_METHOD,
				FEE_SETTLEMENT_DATE,
				DEPOSIT_ACCOUNT_FORMAT,
				ACCOUNT_PARAMETER_NAME,
				TAX_INVOICE_CRITERIA,
				TAX_INVOICE_VAT,
				TAX_INVOICE_EMAIL,
				PARTIAL_CANCELLATION_ALLOWED
			) VALUES (
				#{no},
				#{paymentMethod},
				#{feePaymentMethod},
				#{feeSettlementDate},
				#{depositAccountFormat},
				#{accountParameterName},
				#{taxInvoiceCriteria},
				#{taxInvoiceVat},
				#{taxInvoiceEmail},
				#{partialCancellationAllowed}
			)
			ON DUPLICATE KEY UPDATE
				PAYMENT_METHOD = #{paymentMethod},
				FEE_PAYMENT_METHOD = #{feePaymentMethod},
				FEE_SETTLEMENT_DATE = #{feeSettlementDate},
				DEPOSIT_ACCOUNT_FORMAT = #{depositAccountFormat},
				ACCOUNT_PARAMETER_NAME = #{accountParameterName},
				TAX_INVOICE_CRITERIA = #{taxInvoiceCriteria},
				TAX_INVOICE_VAT = #{taxInvoiceVat},
				TAX_INVOICE_EMAIL = #{taxInvoiceEmail},
				PARTIAL_CANCELLATION_ALLOWED = #{partialCancellationAllowed}
		]]>
	</insert>

	<insert id="savePaymentMethod" parameterType="com.copypay.dto.request.PaymentMethodRequest">
		<![CDATA[
			INSERT INTO PAYMENT_METHOD (
				NO,
				IS_USED,
				AUTHENTICATION_TYPE,
				SETTLEMENT_CYCLE,
				EFFECTIVE_DATE,
				PURCHASE_METHOD,
				PURCHASE_DATE,
				DEBITCARD_FEE_MANAGEMENT_USED,
				INSTALLMENT_MONTHS,
				IS_SMALL_MID_USED,
				SMALL_MID_BALANCE_SETTLEMENT_REQ,
				DIFFERENCE_SETTLEMENT_CYCLE,
				MAJOR_DOMESTIC_UNUSABLE_CARD,
				MINOR_DOMESTIC_UNUSABLE_CARD,
				MINOR_FOREIGN_UNUSABLE_CARD
			) VALUES (
				#{no},
				#{isUsed},
				#{authenticationType},
				#{settlementCycle},
				#{settlementCycleEffectiveDate},
				#{purchaseMethod},
				#{purchaseDate},
				#{debitcardFeeManagement},
				#{installmentMonths},
				#{isSmallMidUsed},
				#{smallMidBalanceSettlementReq},
				#{differenceSettlementCycle},
				#{majorDomesticUnusableCard},
				#{minorDomesticUnusableCard},
				#{minorForeignUnusableCard}
			)
			ON DUPLICATE KEY UPDATE
				NO = #{no},
				IS_USED = #{isUsed},
				AUTHENTICATION_TYPE = #{authenticationType},
				SETTLEMENT_CYCLE = #{settlementCycle},
				EFFECTIVE_DATE = #{settlementCycleEffectiveDate},
				PURCHASE_METHOD = #{purchaseMethod},
				PURCHASE_DATE = #{purchaseDate},
				DEBITCARD_FEE_MANAGEMENT_USED = #{debitcardFeeManagement},
				INSTALLMENT_MONTHS = #{installmentMonths},
				IS_SMALL_MID_USED = #{isSmallMidUsed},
				SMALL_MID_BALANCE_SETTLEMENT_REQ = #{smallMidBalanceSettlementReq},
				DIFFERENCE_SETTLEMENT_CYCLE = #{differenceSettlementCycle},
				MAJOR_DOMESTIC_UNUSABLE_CARD = #{majorDomesticUnusableCard},
				MINOR_DOMESTIC_UNUSABLE_CARD = #{minorDomesticUnusableCard},
				MINOR_FOREIGN_UNUSABLE_CARD = #{minorForeignUnusableCard}
		]]>
	</insert>

	<insert id="saveMemo" parameterType="com.copypay.dto.request.MemoRequest">
		<![CDATA[
			INSERT INTO MEMO (
				MID,
				ID,
				CONTENT
			) VALUES (
				#{mid},
				#{id},
				#{content}
			)
		]]>
	</insert>
</mapper>
