<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.copypay.repository.mapper.BasicInfoMapper">

    <select id="getBasicInfoList" parameterType="string" resultType="com.copypay.dto.response.BasicInfoListResponse">
	<![CDATA[
		SELECT
			BUSINESS_REG_NUMBER AS businessRegNumber,
			BUSINESS_NAME AS businessName,
			MID AS mid,
			BUSINESS_TYPE AS businessType,
			PAYMENT_METHOD.IS_USED AS isUsed,
			IS_SMALL_MID_USED AS isSmallMidUsed
		FROM CONTRACT
		JOIN PAYMENT_METHOD ON CONTRACT.NO = PAYMENT_METHOD.NO
		WHERE #{inputMid} IS NULL OR MID LIKE CONCAT('%', #{inputMid}, '%')
        ]]>
	</select>

    <select id="getManagerId" resultType="string">
	<![CDATA[
		SELECT ID FROM USER
        ]]>
	</select>

	<select id="getBasicInfo" parameterType="string" resultType="com.copypay.dto.response.BasicInfoResponse">
	<![CDATA[
		SELECT
			BUSINESS_REG_NUMBER AS businessRegNumber,
			MID AS mid,
			BUSINESS_NAME AS businessName,
			EFFECTIVE_DATE AS effectiveDate,
			COMPLETION_DATE AS completionDate,
			CONTRACT_DATE AS contractDate,
			CEO_NAME AS ceoName,
			CEO_BIRTH AS ceoBirth,
			CEO_HP AS ceoHp,
			CEO_TEL AS ceoTel,
			CEO_EMAIL AS ceoEmail,
			CEO_FAX AS ceoFax,
			BUSINESS_POSTCODE AS businessPostcode,
			BUSINESS_ADDRESS_LINE1 AS businessAddressLine1,
			BUSINESS_ADDRESS_LINE2 AS businessAddressLine2,
			BUSINESS_TYPE AS businessType,
			FRANCHISE_CONTRACT_MANAGER_NAME AS franchiseContractManagerName,
			FRANCHISE_CONTRACT_MANAGER_TEL AS franchiseContractManagerTel,
			FRANCHISE_CONTRACT_MANAGER_HP AS franchiseContractManagerHp,
			FRANCHISE_CONTRACT_MANAGER_Email AS franchiseContractManagerEmail,
			APPLICATION_PATH AS applicationPath,
			CONTRACT_MANAGER AS contractManager,
			SALES_MANAGER AS salesManager
		FROM CONTRACT
		WHERE MID = #{inputMid}
		]]>
	</select>
</mapper>
