<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.copypay.repository.mapper.ContractProgressMapper">

    <select id="getContractProgressList" parameterType="string" resultType="com.copypay.dto.response.ContractProgressListResponse">
	<![CDATA[
		SELECT
		    CONTRACT_DATE AS contractDate,
			BUSINESS_REG_NUMBER AS businessRegNumber,
			BUSINESS_NAME AS businessName,
			CONTRACT_MANAGER AS contractManager,
			SALES_MANAGER AS salesManager
		FROM CONTRACT
		WHERE #{checkedDate} IS NULL OR CONTRACT_DATE BETWEEN DATE_FORMAT(#{startDate}, '%Y%m%d') AND DATE_FORMAT(#{endDate}, '%Y%m%d')
		ORDER BY CONTRACT_DATE DESC
		]]>
	</select>

</mapper>
