<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.copypay.repository.mapper.UserMapper">

    <select id="findByUsername" parameterType="String" resultType="com.copypay.model.User">
        SELECT ID, PW, EMAIL, OTP FROM USER WHERE ID = #{username}
    </select>

    <update id="updatePassword" parameterType="Map">
        UPDATE USER SET PW= TO_BASE64(MD5(#{password})) WHERE ID = #{id}
    </update>

    <select id="getOTPKeyById" parameterType="string" resultType="string">
        SElECT OTP FROM USER WHERE ID = #{id}
    </select>
</mapper>


