<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar">
    <!-- 왼쪽 사이드바 -->
    <nav class="fixed left-0 h-full w-40 bg-blue-400 text-white text-center shadow-lg" aria-label="사이드바 메뉴">
        <ul class="sales-management-sub">
            <li>
                <button class="bg-black block w-full py-1 px-2 cursor-pointer shadow-md text-md" aria-expanded="false" aria-controls="sales-submenu">
                    사업자관리
                </button>
                <ul class="sub bg-slate-700 text-sm">
                    <li><a id="contractProgressBtn" href="#" class="hover:bg-zinc-600 block py-2 px-2 menu-item">계약 진행현황</a></li>
                    <li><a id="contractDoneBtn" href="#" class="hover:bg-zinc-600 block py-2 px-2 menu-item">계약 완료현황</a></li>
                    <li><a id="manageIdBtn" href="#" class="hover:bg-zinc-600 block py-2 px-2 menu-item">가맹점 ID 관리</a></li>
                </ul>
            </li>
        </ul>
        <ul class="basic-info-sub">
            <li>
                <button class="bg-black block w-full py-1 px-2 cursor-pointer shadow-md text-md" aria-expanded="false" aria-controls="basic-info-submenu">
                    기본정보
                </button>
                <ul class="sub bg-slate-700 text-sm">
                    <li><a id="registrationChangeBtn" href="#" class="hover:bg-zinc-600 block py-2 px-2 menu-item">등록/변경</a></li>
                    <li><a id="infoCheckBtn" href="#" class="hover:bg-zinc-600 block py-2 px-2 menu-item">기본정보 조회</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <script>
        $(document).ready(function () {
            $(".sales-management-sub, .basic-info-sub").hide();
            $(".menu-toggle").click(function () {
                var targetMenu = $(this).data('target');
                $(".menu-toggle").removeClass("bg-black");
                $(this).addClass("bg-black");
    
                //모든 서브메뉴 숨기기
                $(".sales-management-sub, .basic-info-sub").hide();
                //선택된 서브메뉴 보이기
                $(targetMenu).slideDown(500);
            });
            //사이드바 메뉴 클릭 시 글자색 바꾸기
            $(".menu-item").click(function (e) {
                $(".menu-item").removeClass("font-bold text-yellow-400");
                $(this).addClass("text-yellow-400 font-bold");
            });
            //공사중인 메뉴 클릭 시
            $(".under-construction").click(function (e) {
                $(".under-construction").removeClass("bg-black");
                alert("공사중입니다.");
                $(e).removeClass("bg-black");
            });
        });
    </script>
</div>
</html>