<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar">
    <!-- 왼쪽 사이드바 -->
    <nav class="fixed left-0 h-full w-40 bg-blue-400 text-white text-center shadow-lg" aria-label="사이드바 메뉴">
        <ul class="sales-management-sub">
            <li>
                <button class="bg-black block w-full py-1 px-2 cursor-pointer shadow-md text-md" aria-expanded="false"
                    aria-controls="sales-submenu">
                    사업자관리
                </button>
                <ul class="sub bg-slate-700 text-sm">
                    <li><a href="#" class="hover:bg-zinc-600 block py-2 px-2 menu-item">계약 진행현황</a></li>
                    <li><a href="#" class="hover:bg-zinc-600 block py-2 px-2 menu-item">계약 완료현황</a></li>
                    <li><a href="#" class="hover:bg-zinc-600 block py-2 px-2 menu-item">가맹점 ID 관리</a></li>
                </ul>
            </li>
        </ul>
        <ul class="basic-info-sub">
            <li>
                <p class="bg-black block py-1 px-2 shadow-md text-md">기본정보</p>
                <ul class="sub bg-slate-700 text-sm">
                    <li><a href="#" class="hover:bg-zinc-600 block py-2 px-2 menu-item">등록/변경</a></li>
                    <li><a href="#" class="hover:bg-zinc-600 block py-2 px-2 menu-item">기본정보 조회</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

</html>