<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <button id="newModalBtn" class="float-right items-center px-6 py-2 mr-5 bg-green-700 text-md text-white rounded">신규</button>
    <button id="basicInfoCheckBtn" class="float-right items-center px-6 py-2 mr-2 bg-slate-800 text-md text-white rounded">조회</button>
    <!-- MID 입력칸 -->
    <div class="flex bg-white mt-16 ml-10 pl-40 rounded-lg w-[105rem]">
        <button id="dropdown-button" data-dropdown-toggle="dropdown"
            class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-e-0 border-gray-300 dark:border-gray-700 dark:text-white rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800" type="button">
            MID
            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
            </svg>
        </button>
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                <li>
                    <a href="#"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">MID</a>
                </li>
            </ul>
        </div>
        <div class="relative w-full">
            <input type="text" id="inputMid" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" required />
        </div>
    </div>
    <div id="basicInfoList" class="fixed mt-5 ml-10 pl-40 items-center hidden">
        <!-- 조회한 리스트 -->
        <div class="bg-white mt-2 rounded-lg shadow-2xl w-[105rem] h-[44rem] overflow-y-auto">
            <div class="table w-full">
                <div class="table-header-group bg-blue-200 sticky top-0 z-10">
                  <div class="table-row">
                    <div class="table-cell text-center border-r border-blue-400 py-1">사업자번호</div>
                    <div class="table-cell text-center border-r border-blue-400 py-1">상호</div>
                    <div class="table-cell text-center border-r border-blue-400 py-1">MID</div>
                    <div class="table-cell text-center border-r border-blue-400 py-1">사업체구분</div>
                    <div class="table-cell text-center border-r border-blue-400 py-1">사용여부</div>
                    <div class="table-cell text-center">영중소 사용여부</div>
                  </div>
                </div>
                <div class="table-row-group text-sm">
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // 조회 버튼 클릭 시
            $("#basicInfoCheckBtn").on('click', function () {
                callBasicInfoData();
                $("#basicInfoList").removeClass("hidden");
            });

        });
        function callBasicInfoData(){
            const midValue = $("#inputMid").val();
            const url = midValue === "" ? '/api/basic-info/list' : '/api/basic-info/list/' + midValue;
            $.ajax({
                url: url,
                method: 'GET',
                success: function (data) {
                    populateTable(data);
                },
                error: function (error) {
                    console.error("데이터를 가져오는 데 실패했습니다:", error);
                }
            });
        }

        function populateTable(data) {
            const tbody = $('.table-row-group');
            tbody.empty();
            // 받아온 데이터로 테이블 행 추가
            data.forEach(item => {
                const row = `
                            <div class="table-row even:bg-blue-300 odd:bg-white hover:bg-slate-400">
                                <div class="table-cell px-2 py-1">${item.businessRegNumber}</div>
                                <div class="table-cell px-2 py-1">${item.businessName}</div>
                                <div class="table-cell px-2 py-1">${item.mid ? item.mid : ""}</div>
                                <div class="table-cell px-2 py-1">${item.businessType}</div>
                                <div class="table-cell px-2 py-1">${item.isUsed}</div>
                                <div class="table-cell px-2 py-1">${item.isSmallMidUsed}</div>
                            </div>
                        `;
                tbody.append(row);
            });
        }
    </script>
</body>

</html>