<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <button id="contractDoneCheckBtn" class="float-right items-center px-6 py-2 mr-2 bg-slate-800 text-md text-white rounded">조회</button>
    <!-- select 검색 조건 -->
    <div class="flex bg-white mt-16 ml-10 pl-40 rounded-lg w-[105rem]">
        <td class="border-2 py-1">
            <select id="searchOption" name="searchOption" class="flex-shrink-0 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-e-0 border-gray-300 dark:border-gray-700 dark:text-white rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                <option value="NONE">선택하세요</option>
                <option value="BUSINESS_NAME">상호</option>
                <option value="BUSINESS_REG_NUMBER">사업자번호</option>
                <option value="CEO_NAME">대표자명</option>
            </select>
        </td>
        <div class="relative w-full">
            <input type="text" id="searchValue" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"/>
        </div>
    </div>

    <div id="contractDoneList" class="fixed mt-5 ml-10 pl-40 items-center hidden">
        <!-- 조회한 계약 완료현황 -->
        <div class="bg-white mt-2 rounded-lg shadow-2xl w-[105rem] h-[44rem] overflow-y-auto">
            <table class="w-full">
                <thead class="bg-blue-200 sticky top-0 z-10">
                  <tr>
                    <th class="text-center border-r border-blue-400 py-1">계약일자</th>
                    <th class="text-center border-r border-blue-400 py-1">사업자번호</th>
                    <th class="text-center border-r border-blue-400 py-1">상호</th>
                    <th class="text-center border-r border-blue-400 py-1">계약담당자</th>
                    <th class="text-center border-r border-blue-400 py-1">영업담당자</th>
                  </tr>
                </thead>
                <tbody id="list" class="text-sm">
                </tbody>
            </table>
        </div>
    </div>

        <script>
            $(document).ready(function () {
                // 조회 버튼 클릭 시
                $("#contractDoneCheckBtn").on('click', function () {
                    const searchOption = document.getElementById("searchOption").value;
                    const searchValue = $("#searchValue").val();
                    // searchOption을 선택하지 않았거나, searchValue를 입력하지 않았으면 전체 조회
                    const url = searchOption === "NONE" || !searchValue ? '/api/contract-done/list' : '/api/contract-done/list/' + searchOption + '/' + searchValue;
                    makeAjaxCall(url, 'GET', function (data) {
                        populateTable(data);
                    }, showEmptyDataRow);
                    $("#contractDoneList").removeClass("hidden");
                });
            });

            /**
             * AJAX 요청을 처리하는 공통 함수
             * @param {string} url - 요청 URL
             * @param {string} method - HTTP 메서드
             * @param {function} successCallback - 성공 시 콜백 함수
             * @param {function} errorCallback - 에러 시 콜백 함수
             */
            function makeAjaxCall(url, method, successCallback, errorCallback) {
                $.ajax({
                    url: url,
                    method: method,
                    success: function (data) {
                        successCallback(data);
                    },
                    error: function (error) {
                        if(errorCallback){
                            errorCallback();
                        }
                        else if(error.responseJSON.message){
                            alert(error.responseJSON.message);
                        }
                        else if(!error.responseJSON.message){
                            alert("데이터를 가져오는 데 실패했습니다. 다시 시도해 주세요.");
                        }
                    }
                });
            }

            function populateTable(data) {  // 받아온 데이터로 계약 진행현황 조회 테이블 행 추가
                const tbody = $('#list');
                tbody.empty();
                if (data) {
                    $.each(data, function(index, item){
                        const row = `
                            <tr class="even:bg-blue-300 odd:bg-white hover:bg-slate-400">
                                <td class="table-cell px-2 py-1">${formatDate(item.contractDate)}</td>
                                <td class="table-cell px-2 py-1">${formatBusinessRegNumber(item.businessRegNumber)}</td>
                                <td class="table-cell px-2 py-1">${item.businessName}</td>
                                <td class="table-cell px-2 py-1">${item.contractManager}</td>
                                <td class="table-cell px-2 py-1">${item.salesManager}</td>
                            </tr>
                        `;
                        tbody.append(row);
                    });
                }
            }
            function showEmptyDataRow(){  // 계약 완료현황 조회 결과가 없을 때
                const tbody = $('#list');
                tbody.empty();
                const noDataRow = `
                            <tr class="table-row">
                                <td class="text-center pt-36" colspan="5">
                                    <p class="text-lg">조회 결과가 없습니다.</p>
                                </td>
                            </tr>
                        `;
                tbody.append(noDataRow);
            }

            function formatBusinessRegNumber(regNumber) {  //사업자번호 xxx-xx-xxxxx 형식으로 바꾸기
                let formatRegNumber = typeof regNumber === 'string' ? regNumber : $(reegNumber).val();
                formatRegNumber = formatRegNumber
                    .replace(/[^0-9]/g, '')
                    .replace(/(\d{3})(\d{2})(\d{5})/, "$1-$2-$3");
                $(regNumber).val(formatRegNumber);
                return formatRegNumber;
            }
            function formatDate(dateString) {  //날짜 YYYY/MM/DD 형식으로 바꾸기
                if (!/^\d{8}$/.test(dateString)) {
                    console.error('잘못된 날짜 형식입니다:', dateString);
                    return '';
                }
                const year = dateString.substring(0, 4);
                const month = dateString.substring(4, 6);
                const day = dateString.substring(6, 8);
                return year+'/'+month+'/'+day;
            }
        </script>
</body>

</html>