<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<button id="excelBtn" class="float-right items-center px-6 py-2 mr-16  bg-green-700 text-md text-white rounded">
    excel
</button>
<button id="newModalBtn" class="float-right items-center px-6 py-2 mr-2  bg-red-600 text-md text-white rounded">
    신규등록
</button>
<button id="contractProgressCheckBtn" class="float-right items-center px-6 py-2 mr-2  bg-slate-800 text-md text-white rounded">
    조회
</button>
<!-- 날짜 검색 조건 -->
<div class="flex bg-white mt-16 ml-10 pl-40 rounded-lg w-[90rem] items-center space-x-2">
    <div class="inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 dark:border-gray-700 dark:text-white rounded-lg focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:focus:ring-gray-800">
        접수일자
        <input id="dateOption" type="checkbox" class="ml-2">
        <input type="date" id="startDate" min="2013-01-01" max="2032-12-31"
               class="ml-4 p-2 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"/>
        <span class="px-2 text-sm">~</span>
        <input type="date" id="endDate" min="2013-01-01" max="2032-12-31"
               class="p-2 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"/>
    </div>
</div>

<div id="contractProgressList" style="display: none" class="fixed mt-5 ml-10 pl-40 items-center">
    <!-- 조회한 계약 진행현황 -->
    <div class="bg-white mt-2 rounded-lg shadow-2xl w-[105rem] h-[37rem] overflow-y-auto">
        <table class="w-full table-fixed">
            <thead class="bg-blue-200 sticky top-0 z-10">
            <tr>
                <th class="text-center border-r border-blue-400 py-1">계약일자</th>
                <th class="text-center border-r border-blue-400 py-1">사업자번호</th>
                <th class="text-center border-r border-blue-400 py-1">상호</th>
                <th class="text-center border-r border-blue-400 py-1">계약담당자</th>
                <th class="text-center border-r border-blue-400 py-1">영업담당자</th>
            </tr>
            </thead>
            <tbody id="list" class="text-sm">
            </tbody>
        </table>
    </div>
    <div class="bg-slate-200 text-center relative h-6" id="pagination">

    </div>
</div>

<!-- 신규등록 모달 -->
<form id="contractProgressNewModal"
      class="bg-black bg-opacity-50 hidden fixed top-0 left-0 w-[120rem] h-full flex justify-center items-center">
    <div class="fixed bg-blue-500 w-5/6 py-2 z-10 top-14">
        <h3 class="font-bold text-white text-lg ml-2">기본정보</h3>
    </div>
    <div class="bg-white rounded-lg shadow-lg p-6 w-5/6 h-4/5 overflow-y-auto">
        <div class="bg-white mt-2 rounded-lg shadow-2xl w-full h-fit">
            <table class="table-fixed w-[90rem] border-collapse mx-auto">
                <thead class="table-header-group">
                <tr class="table-row bg-blue-300">
                    <td colspan="6"><h3 class="font-bold text-white text-lg py-2 ml-3">| 신규계약 신규등록</h3></td>
                </tr>
                </thead>
                <tbody class="table-row-group">
                <tr class="table-row">
                    <td class="text-center border-2 bg-stone-300 py-1">접수일</td>  <!--DB에 없는 필드-->
                    <td class="border-2 py-1">
                        <p type="text" id="applicationDate"
                           class="w-28 h-7 ml-3 text-sm pl-1 border-2 border-gray-400 outline-none">
                    </td>
                    <td class="text-center border-2 bg-stone-300 py-1">접수경로</td>
                    <td class="border-2 py-1">
                        <select id="applicationPath" name="applicationPath"
                                class="ml-3 border-2 border-gray-400 outline-none text-sm">
                            <option value="다이렉트">다이렉트</option>
                        </select>
                    </td>
                    <td class="text-center border-2 bg-stone-300 py-1"><span class="text-red-500">*</span>상호</td>
                    <td class="border-2 py-1">
                        <input type="text" id="businessName" name="businessName"
                               class="w-28 h-7 ml-3 text-sm pl-1 border-2 border-gray-400 outline-none">
                        <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorBusinessName" name="errorBusinessName"></p>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="text-center border-2 bg-stone-300 py-1">사업체 구분</td>
                    <td class="border-2 py-1">
                        <select id="businessType" name="businessType" class="ml-3 border-2 border-gray-400 outline-none text-sm">
                            <option value="개인사업자">개인사업자</option>
                            <option value="법인사업자">법인사업자</option>
                        </select>
                    </td>
                    <td class="text-center border-2 bg-stone-300 py-1"><span class="text-red-500">*</span>사업자 번호</td>
                    <td class="border-2 py-1">
                        <input type="text" id="businessRegNumber" name="businessRegNumber"
                               class="w-28 h-7 ml-3 text-sm pl-1 border-2 border-gray-400 outline-none"
                               oninput="formatBusinessRegNumber(this)">
                        <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorBusinessRegNumber" name="errorBusinessRegNumber"></p>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="text-center border-2 bg-stone-300 py-1"><span class="text-red-500">*</span>대표자명</td>
                    <td class="border-2 py-1">
                        <input type="text" id="ceoName" name="ceoName"
                               class="w-28 h-7 ml-3 text-sm pl-1 border-2 border-gray-400 outline-none">
                        <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorCeoName" name="errorCeoName"></p>
                    </td>
                    <td class="text-center border-2 bg-stone-300 py-1"><span class="text-red-500">*</span>대표자 생년월일</td>
                    <td class="border-2 py-1">
                        <input type="text" id="ceoBirth" name="ceoBirth"
                               class="w-28 h-7 ml-3 text-sm pl-1 border-2 border-gray-400 outline-none"
                               oninput="formatDate(this)">
                        <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorCeoBirth" name="errorCeoBirth"></p>
                    </td>
                    <td class="text-center border-2 bg-stone-300 py-1"><span class="text-red-500">*</span>대표자 HP</td>
                    <td class="border-2 py-1">
                        <input type="text" id="ceoHp" name="ceoHp"
                               class="w-28 h-7 ml-3 text-sm pl-1 border-2 border-gray-400 outline-none" oninput="formatPhone(this)">
                        <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorCeoHp" name="errorCeoHp"></p>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="text-center border-2 bg-stone-300 py-1"><span class="text-red-500">*</span>대표 TEL</td>
                    <td class="border-2 py-1">
                        <input type="text" id="ceoTel" name="ceoTel" oninput="formatPhone(this)"
                               class="w-28 h-7 ml-3 text-sm pl-1 border-2 border-gray-400 outline-none">
                        <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorCeoTel" name="errorCeoTel"></p>
                    </td>
                    <td class="text-center border-2 bg-stone-300 py-1"><span class="text-red-500">*</span>대표 E-Mail</td>
                    <td class="border-2 py-1">
                        <input type="text" id="ceoEmail" name="ceoEmail"
                               class="w-28 h-7 ml-3 text-sm pl-1 border-2 border-gray-400 outline-none">
                        <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorCeoEmail" name="errorCeoEmail"></p>
                    </td>
                    <td class="text-center border-2 bg-stone-300 py-1">대표 FAX</td>
                    <td class="border-2 py-1">
                        <input type="text" id="ceoFax" name="ceoFax"
                               class="w-28 h-7 ml-3 text-sm pl-1 border-2 border-gray-400 outline-none">
                        <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorCeoFax" name="errorCeoFax"></p>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="text-center border-2 bg-stone-300 py-1"><span class="text-red-500">*</span>사업장 소재지</td>
                    <td class="border-2 py-1" colspan="5">
                        <div class="grid grid-cols-4 gap-4 ml-3">
                            <div>
                                <input type="text" id="businessPostCode" name="businessPostCode"
                                       class="w-32 h-7 text-sm pl-1 border-2 border-gray-400 outline-none">
                                <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorBusinessPostCode"
                                   name="errorBusinessPostCode"></p>
                            </div>
                            <div>
                                <input type="text" id="businessAddressLine1" name="businessAddressLine1"
                                       class="w-32 h-7 text-sm pl-1 border-2 border-gray-400 outline-none">
                                <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorBusinessAddressLine1"
                                   name="errorBusinessAddressLine1"></p>
                            </div>
                            <div>
                                <input type="text" id="businessAddressLine2" name="businessAddressLine2"
                                       class="w-40 h-7 text-sm pl-1 border-2 border-gray-400 outline-none">
                                <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorBusinessAddressLine2"
                                   name="errorBusinessAddressLine2"></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="text-center border-2 bg-stone-300 py-1"><span class="text-red-500">*</span>가맹점 계약담당</td>
                    <td class="border-2 py-1" colspan="5">
                        <div class="grid grid-cols-4 gap-4 ml-3">
                            <div>
                                <div class="text-sm">성명:
                                <input type="text" id="franchiseContractManagerName" name="franchiseContractManagerName"
                                       class="w-32 h-7 text-sm pl-1 border-2 border-gray-400 outline-none">
                                </div>
                                <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorFranchiseContractManagerName"
                                   name="errorFranchiseContractManagerName"></p>
                            </div>
                            <div>
                                <div class="text-sm">TEL:
                                <input type="text" id="franchiseContractManagerTel" name="franchiseContractManagerTel"
                                       class="w-32 h-7 text-sm pl-1 border-2 border-gray-400 outline-none" oninput="formatPhone(this)">
                                </div>
                                <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorFranchiseContractManagerTel"
                                   name="errorFranchiseContractManagerTel"></p>
                            </div>
                            <div>
                                <div class="text-sm">HP:
                                <input type="text" id="franchiseContractManagerHp" name="franchiseContractManagerHp"
                                       class="w-32 h-7 text-sm pl-1 border-2 border-gray-400 outline-none"
                                       oninput="formatPhone(this)">
                                </div>
                                <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorFranchiseContractManagerHp"
                                   name="errorFranchiseContractManagerHp"></p>
                            </div>
                            <div>
                                <div class="text-sm">E-Mail:
                                <input type="text" id="franchiseContractManagerEmail" name="franchiseContractManagerEmail"
                                       class="w-40 h-7 text-sm pl-1 border-2 border-gray-400 outline-none">
                                </div>
                                <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorFranchiseContractManagerEmail"
                                   name="errorFranchiseContractManagerEmail"></p>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="text-center border-2 bg-stone-300 py-1"><span class="text-red-500">*</span>세금계산서 E-Mail
                    </td>
                    <td class="border-2 py-1">
                        <input type="text" id="taxInvoiceEmail" name="taxInvoiceEmail"
                               class="w-28 h-7 ml-3 text-sm pl-1 border-2 border-gray-400 outline-none ">
                        <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorTaxInvoiceEmail"
                           name="errorTaxInvoiceEmail"></p>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="text-center border-2 bg-stone-300 py-1">계약담당자</td>
                    <td class="border-2 py-1">
                        <select id="contractManager" name="contractManager"
                                class="ml-3 border-2 border-gray-400 outline-none text-sm">
                        </select>
                    </td>
                    <td class="text-center border-2 bg-stone-300 py-1">영업담당자</td>
                    <td class="border-2 py-1">
                        <select id="salesManager" name="salesManager"
                                class="ml-3 border-2 border-gray-400 outline-none text-sm">
                        </select>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="text-center border-2 bg-stone-300 py-1"><span class="text-red-500">*</span>계약일자</td>
                    <td class="border-2 py-1">
                        <input type="text" id="contractDate" name="contractDate" oninput="formatDate(this)"
                               class="w-28 h-7 ml-3 text-sm pl-1 border-2 border-gray-400 outline-none">
                        <p class="error-message text-red-500 text-sm mt-1 ml-3" id="errorContractDate"
                           name="errorContractDate"></p>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="border-2 py-1" colspan="6">
                        <button type="button" id="registerContractBtn"
                                class="text-white text-xs bg-green-700 w-16 h-7 float-right">등록
                        </button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="fixed bottom-14 w-5/6 bg-white py-2 text-center z-10">
        <button type="button" id="closeModalBtn"
                class="text-white text-xs bg-slate-500 w-16 h-7 float-right rounded-md mr-2">닫기
        </button>
    </div>
</form>

<script>
    var pageIndex;  //현재 페이지
    $(document).ready(function () {
        var date = new Date();
        $('#endDate').val(date.toISOString().substring(0, 10));
        date.setMonth(date.getMonth() - 1);
        $('#startDate').val(date.toISOString().substring(0, 10)); // 오늘에서 한 달을 뺀 날짜
        const listResult = document.getElementById("contractProgressList");

        // 엑셀 버튼 클릭 시
        $("#excelBtn").on('click', function () {
            pageIndex = 1;
            var request = {
                startDate: $("#startDate").val(),
                endDate: $("#endDate").val(),
                checkedDate: $('input:checkbox[id="dateOption"]').is(":checked"),
                currentPage: pageIndex
            };
            if(listResult.style.display === "none"){
                alert("엑셀을 생성할 리스트를 먼저 조회해주세요.")
                return
            }
            makeAjaxCall('/api/contract-progress/excel', 'GET', request,
                function (data) {
                    var blob = new Blob([data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"});
                    var link = document.createElement('a');  // a라는 요소 만듬
                    link.href = window.URL.createObjectURL(blob);
                    var downloadTime = new Date();
                    downloadTime = downloadTime.toLocaleString();
                    link.download = "계약진행현황_"+username+"_"+downloadTime+".xlsx"; // 파일명
                    document.body.appendChild(link);
                    link.click(); // a의 클릭 이벤트를 발생시켜서 다운로드 시작
                    document.body.removeChild(link);
                },
                function () {
                    alert("excel 다운로드 중 오류발생");
                },
                {
                    responseType: 'blob' // 서버로부터의 응답을 blob 객체로 받음
                }
            );
        });

            // 조회 버튼 클릭 시
            $("#contractProgressCheckBtn").on('click', function () {
                pageIndex = 1;
                fetchAndDisplayPage(pageIndex);
            });

            // 신규등록 모달 열기
            $("#newModalBtn").click(function () {
                $('#applicationDate').text(new Date().toISOString().substring(0, 10));

                makeAjaxCall('/api/managers', 'GET', null, function (data) {  // 계약담당자, 영업담당자 셀렉트박스 추가
                    listResult.style.display = 'none' // 화면에 안 보이게 함
                    $("#contractProgressNewModal").removeClass("hidden");
                    getManagers(data);
                }, function () {
                    alert("다시 시도해주세요."); // 담당자 불러오기 실패
                    $("#contractProgressNewModal").addClass("hidden");
                });
            });

            // 신규등록 모달 닫기
            $("#closeModalBtn").click(function () {
                clearModal();
                $("#contractProgressNewModal").addClass("hidden");
            });

            // 신규등록 입력 데이터 저장
            $("#registerContractBtn").on("click", function (event) {
                event.preventDefault();
                var registerData = mapInputToDto();  // 입력된 데이터를 가져옴
                makeAjaxCall('/api/contract-progress/register', 'POST', registerData, function (data) {
                    alert("계약이 성공적으로 등록되었습니다.");
                    // 등록 후, 바로 조회 결과 보여줌
                    $("#contractProgressNewModal").addClass("hidden");
                    clearModal();
                    fetchAndDisplayPage(1);
                }, function () {
                    alert("다시 시도해 주세요.");
                });
            });
    }) // document ready

        function fetchAndDisplayPage(pageIndex) {  //지정된 페이지의 데이터 목록을 가져옴
            var request = {
                startDate: $("#startDate").val(),
                endDate: $("#endDate").val(),
                checkedDate: $('input:checkbox[id="dateOption"]').is(":checked"),
                currentPage: pageIndex
            };
            makeAjaxCall('/api/contract-progress/list', 'GET', request, function (data) {
                populateTable(data);
            }, showEmptyDataRow(5));
            const listResult = document.getElementById("contractProgressList");
            listResult.style.display = 'inline' // 화면에 보이게 함 (기본 속성)
        }

        function populateTable(data) {  // 받아온 데이터로 계약 진행현황 조회 테이블 행 추가
            const tbody = $('#list');
            tbody.empty();
            $.each(data.list, function (index, item) {
                const row = `
                        <tr class="even:bg-blue-300 odd:bg-white hover:bg-slate-400">
                            <td class="table-cell px-2 py-1">${formatDate(item.contractDate)}</td>
                            <td class="table-cell px-2 py-1">${formatBusinessRegNumber(item.businessRegNumber)}</td>
                            <td class="table-cell px-2 py-1">${item.businessName}</td>
                            <td class="table-cell px-2 py-1">${item.contractManager}</td>
                            <td class="table-cell px-2 py-1">${item.salesManager}</td>
                        </tr>
                    `;
                tbody.append(row);
            });
            data.pagination.length = Object.keys(data.list).length;  //리스트 길이 추가
            renderPagination(data.pagination);  //페이징
        }

        // 입력값 저장
        function mapInputToDto() {
            const data = getRegisterData();
            ['businessRegNumber', 'ceoBirth', 'ceoHp', 'ceoTel', 'franchiseContractManagerTel', 'franchiseContractManagerHp', 'contractDate']
                .forEach(key => data[key] = removeSymbol(data[key]));
            return data;
        }

        // 입력값에서 하이픈, 슬래시 제거
        function removeSymbol(value) {
            return value?.replace(/[-/]/g, '') || value;
        }

        // 신규등록 입력값 받기
        function getRegisterData() {
            return {
                applicationPath: $('#applicationPath').val(),
                businessName: $('#businessName').val(),
                businessType: $('#businessType').val(),
                businessRegNumber: $("#businessRegNumber").val(),
                ceoName: $("#ceoName").val(),
                ceoBirth: $('#ceoBirth').val(),
                ceoHp: $('#ceoHp').val(),
                ceoTel: $('#ceoTel').val(),
                ceoEmail: $('#ceoEmail').val(),
                ceoFax: $('#ceoFax').val(),
                businessPostCode: $('#businessPostCode').val(),
                businessAddressLine1: $('#businessAddressLine1').val(),
                businessAddressLine2: $('#businessAddressLine2').val(),
                franchiseContractManagerName: $('#franchiseContractManagerName').val(),
                franchiseContractManagerTel: $('#franchiseContractManagerTel').val(),
                franchiseContractManagerHp: $('#franchiseContractManagerHp').val(),
                franchiseContractManagerEmail: $('#franchiseContractManagerEmail').val(),
                taxInvoiceEmail: $('#taxInvoiceEmail').val(),
                contractManager: $('#contractManager').val(),
                salesManager: $('#salesManager').val(),
                contractDate: $('#contractDate').val(),
            };
        }

        function clearModal() {  // 입력 내용 초기화
            $("#contractProgressNewModal input[type='text']").val(''); // 모든 텍스트 입력 필드 초기화
            $("#contractProgressNewModal input[type='checkbox']").prop('checked', false); // 모든 체크박스 초기화
            $("#contractProgressNewModal select").prop('selectedIndex', 0); // 모든 셀렉트 박스 초기화
            $("#contractProgressNewModal p").text(''); // 모든 p 태그 텍스트, 에러 메시지 초기화
            $("#contractManager").empty(); // 불러온 계약 담당자 초기화
            $("#salesManager").empty(); // 불러온 영업 담당자 초기화
        }

        function getManagers(data) {  //담당자 id 가져오기
            $.each(data, function (index, item) {
                $('#contractManager, #salesManager').append(
                    `<option value="${item}">${item}</option>`
                );
            });
        }

</script>
</body>

</html>