<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PG관리시스템</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex items-center justify-center h-screen bg-gray-200">
<div class="bg-white p-8 rounded-lg shadow-md w-96 h-60">
    <h2 class="text-2xl text-gray-700 font-bold text-center mb-6">임시 비밀번호 발송 완료</h2>
    <a href="/about" class="font-bold text-xl text-blue-500">CopyPay</a><br>
    <p class="text-center text-lg text-gray-900 my-4">
        임시 비밀번호가 메일로 전송되었습니다. 메일함을 확인해주세요.
    </p>
    <div class="text-center">
        <a href="/" class="text-sm text-blue-600 hover:underline">로그인 페이지</a>
    </div>
</div>
</body>
</html>