<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PG관리시스템</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex items-center justify-center h-screen bg-gray-200">
<div class="bg-white p-8 rounded-lg shadow-md w-96 h-60">
    <h2 class="text-2xl text-gray-700 font-bold text-center mb-6">PG관리시스템</h2>
    <form th:action="@{/mail-done}" method="post">
        <a class="font-bold text-xl text-blue-500">CopyPay</a><br>
        <h3 class="text-center text-lg text-gray-900">임시 비밀번호가 메일로 전송되었습니다. 메일함을 확인해주세요.</h3><br>
        <div class="text-center">
        <a href="/" class="text-xm text-blue-600">로그인 페이지</a>
        </div>
    </form>
</div>
</body>
</html>